
/.phpunit.cache
/node_modules
/api-requests-server/node_modules
/public/build
/public/hot
/coverage
/public/vendor/scribe
/public/storage
/storage/*.key
/resources/views/email/mjml
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
docker-compose.override.yml


/.*/
/.buildpath
/.project
!/.github
!.vscode/launch.example.json
.rr.yaml

/docs
